---
import FeatureIcon from "./FeatureIcon.astro";
---

<section class="bg-gradient-to-r from-[#1538ff] to-[#04cbd4] mt-10 py-10 md:py-5 grid grid-cols-2 gap-y-5 md:flex justify-around items-end">

  <FeatureIcon text="Ayudas a los peluditos" image="/cat.svg" size="md" />
  <FeatureIcon text="Gana premios" image="/money.svg" size="md" />
  <FeatureIcon text="Paga online" image="/payment-card.svg" size="lg" />
  <FeatureIcon text="Sigue las historias" image="/eye.svg" size="md" />

</section>